@tailwind base;
@tailwind components;
@tailwind utilities;





/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.gradient{
  background-color: #0f0e13;
  background-image: radial-gradient(
      at 0% 100%,
      hsla(253, 16%, 7%, 1) 0,
      transparent 50%
    ),
    radial-gradient(at 50% 70%, hsla(225, 39%, 25%, 1) 0, transparent 50%);
}
/* .gradient   {
  background: linear-gradient(
    97.86deg,
    #480370f0 0%,
    #10424d 53.65%,
    #330f41 100%
  );
} */


.button-primary {
  background: linear-gradient(
      180deg,
      rgba(60, 8, 126, 0) 0%,
      rgba(60, 8, 126, 0.32) 100%
    ),
    rgba(113, 47, 255, 0.12);
  box-shadow: inset 0 0 12px #bf97ff3d;
}
.blue-text-gradient {
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pink-text-gradient {
  background: #f9f7f8; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #f6f3f5,
    #e3dbdb
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #f0e9ed,
    #fff9f9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}